---
import Main from "../layouts/main.astro";
import Hero from "../components/hero.astro";
---
<Main>
  <Hero>
	<h1 class="font-orkney text-9xl text-white">join our team</h1>
	<p class="text-white">big challenges, big opportunities</p>
  </Hero>
</Main>