---
import Main from "../layouts/main.astro";
import Hero from "../components/hero.astro";
import HeroBtn from "../components/heroBtn.astro";
import HeaderLight from "../components/headerLight.astro";
import Carousel from "../components/carousel.astro";
const pageTitle = "Home"; 
const fromColor = "#d1669b";
const toColor = "#3838fc";
---
<Main pageTitle={pageTitle}}>
  <Hero fromColor={fromColor} toColor={toColor}>
    <div class="size-full flex flex-col flex-wrap items-center place-content-evenly">
      <HeaderLight />
      <div class="my-24">
        <h1 class="text-center font-orkney text-5xl md:text-9xl text-white">join our team</h1>
        <p class="text-center	text-white">big challenges, big opportunities</p>
      </div>
      <div><HeroBtn /></div>
    </div>
  </Hero>
  <Carousel />
</Main>