---
import Main from "../layouts/main.astro";
import Hero from "../components/hero.astro";
import HeroBtn from "../components/heroBtn.astro";
import HeaderLight from "../components/headerLight.astro";
const pageTitle = "Resources";
const fromColor = "#ffc300";
const toColor = "#e95500";
---
<Main pageTitle={pageTitle}}>
    <Hero fromColor={fromColor} toColor={toColor}>
      <div class="size-full flex flex-col flex-wrap items-center place-content-evenly">
        <HeaderLight />
        <div class="my-24">
          <h1 transition:animate="slide" class="text-center font-orkney text-5xl md:text-9xl text-white">tools for success</h1>
          <p class="text-center	text-white font-light text-4xl">big challenges, big opportunities</p>
        </div>
        <div><HeroBtn /></div>
      </div>
    </Hero>
    <div class="h-[50dvh] w-full"></div>
</Main>