---
import { Image } from 'astro:assets';
import oicw from '../images/oicw.webp';
---
<div class="flex w-full items-center px-4">
    <div class="flex justify-start h-full w-1/3 items-center"><Image src={oicw} alt="Orkney Islands Council" class="object-scale-down h-1/2"/></div>
    <div class="flex flex-nowrap gap-4 w-1/3 justify-center">
        <a class="text-white">Home</a>
        <a class="text-white">About</a>
        <a class="text-white">Resources</a>
        <a class="text-white">Vacancies</a>
    </div>
    <div class="w-1/3"></div>
</div>