---

---
<button class="group mb-4 w-fit px-4 pb-1 rounded-full text-xl border-white border-solid border transition-all hover:transition-all hover:shadow-lg"><a class="text-white font-light transition-all group-hover:font-normal group-hover:drop-shadow-lg" href="https://myjobscotland.gov.uk/councils/orkney-islands-council/jobs">surprise me</a></button>