---

---
<button class="transition-all w-fit px-4 py-1 rounded-full border-white border-solid border hover:drop-shadow-[0px_35px_35px_rbga(0,0,0,0.5)]"><a class="text-white" href="https://myjobscotland.gov.uk/councils/orkney-islands-council/jobs">surprise me</a></button>