---

---
<button class="hover:font-semibold transition-all w-fit px-4 pb-1 rounded-full text-xl border-white border-solid border drop-shadow-none hover:drop-shadow-md"><a class="text-white" href="https://myjobscotland.gov.uk/councils/orkney-islands-council/jobs">surprise me</a></button>