---

---
<a class="group" href="https://www.linkedin.com/company/orkneycouncil/" target="_blank" aria-label="LinkedIn">
<svg class="transition-all fill-white group-hover:fill-[#0072b1]" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="transition-all fill-inherit" fill-rule="evenodd" clip-rule="evenodd" d="M23.1109 0H2.88894C1.29394 0 -6.10352e-05 1.293 -6.10352e-05 2.889V23.111C-6.10352e-05 24.706 1.29294 26 2.88894 26H23.1109C24.7059 26 25.9999 24.707 25.9999 23.111V2.889C25.9999 1.294 24.7069 0 23.1109 0ZM7.86094 22.389H3.98394V9.87H7.86094V22.389ZM5.90394 8.231C4.63694 8.231 3.61094 7.197 3.61094 5.921C3.61094 4.645 4.63694 3.611 5.90394 3.611C7.17094 3.611 8.19594 4.645 8.19594 5.921C8.19594 7.197 7.16994 8.231 5.90394 8.231ZM22.3889 22.389H18.5309V15.818C18.5309 14.016 17.8459 13.009 16.4199 13.009C14.8689 13.009 14.0579 14.057 14.0579 15.818V22.389H10.3399V9.87H14.0579V11.556C14.0579 11.556 15.1759 9.487 17.8329 9.487C20.4899 9.487 22.3889 11.108 22.3889 14.462V22.389Z" fill="white"/>
    </svg>
</a>
    