---
const { title, link, pubDate, contentSnippet } = Astro.props;
---
<a href={link} target="_blank" rel="noopener noreferrer" class="card border rounded-lg p-4 hover:shadow-lg transition-all hover:scale-[1.02]">
    <h2 class="text-[#1e1e1e] text-xl font-bold mb-2">{title}</h2>
    <p class="text-sm text-gray-500 mb-2">{new Date(pubDate).toLocaleDateString()}</p>
    <p class="text-base">{contentSnippet}</p>
</a> 