---
const { fromColor, toColor } = Astro.props;
---
<div class="h-[100vw] md:h-[53vh] p-4 w-full flex items-center" style={`background: linear-gradient(to right, ${fromColor}, ${toColor})`}>
    <div class="rounded-2xl size-full bg-white justify-items-center"></div>
</div>