---
const { fromColor, toColor } = Astro.props;
---
<div class="h-[53dvh] w-full flex " style={`background: linear-gradient(to right, ${fromColor}, ${toColor})`}>
    <div class="m-4 w-dvw h-[50dvh] rounded-2xl bg-white justify-items-center"></div>
</div>