---

---
<a href="https://x.com/OrkneyCouncil" target="_blank" aria-label="X / Twitter">
<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.4199 11.009L24.8909 0H22.6469L14.4229 9.559L7.85491 0H0.279907L10.2119 14.455L0.279907 26H2.52391L11.2079 15.905L18.1439 26H25.7199L15.4199 11.009ZM12.3459 14.582L11.3399 13.143L3.33291 1.69H6.77991L13.2419 10.933L14.2479 12.372L22.6479 24.387H19.2009L12.3469 14.583L12.3459 14.582Z" fill="white"/>
    </svg>
</a>
