---

---
<a class="group" href="https://www.youtube.com/@OrkneyIslandsCouncil" target="_blank" aria-label="YouTube">
<svg class="transition-all fill-white group-hover:fill-[#FF0000]" width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path class="transition-all fill-inherit" d="M31.331 4.24805C30.963 2.86205 29.879 1.77105 28.502 1.40005C26.006 0.727051 16 0.727051 16 0.727051C16 0.727051 5.993 0.727051 3.498 1.40005C2.121 1.77005 1.037 2.86205 0.669 4.24805C0 6.76005 0 12.0001 0 12.0001C0 12.0001 0 17.2411 0.669 19.7521C1.037 21.1381 2.121 22.2291 3.498 22.5991C5.994 23.2721 16 23.2721 16 23.2721C16 23.2721 26.007 23.2721 28.502 22.5991C29.879 22.2291 30.963 21.1371 31.331 19.7521C32 17.2401 32 12.0001 32 12.0001C32 12.0001 32 6.76005 31.331 4.24805ZM12.727 16.7581V7.24205L21.091 12.0001L12.727 16.7581Z" fill="white"/>
    </svg>
</a>
    