---
import ViewTransitions from "astro/components/ViewTransitions.astro";
import '../output.css';
const { pageTitle } = Astro.props;
---

<html lang="en" class="scroll-smooth focus:scroll-auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="/input.css" />
        <link rel="stylesheet" href="/output.css" />  
        <link
        rel="preload"
        href="/fonts/orkney.woff"
        as="font"
        type="font/woff"
        crossorigin
      />
        <title>{pageTitle}</title>
    </head>
    <body class="flex-col">
        <slot />
    </body>
</html>